/* Задаем параметры цветов темной и светлой темы (Светлая тема) */
html {
  font-family: Roboto, sans-serif;
  --primary-color: #2f80ed;
  --secondary-color: #333333;
  --bg-color: rgb(240, 240, 240);
}
/* Задаем параметры цветов темной и светлой темы (Темная тема) */
html[data-theme='dark'] {
  --primary-color: #2f80ed;
  --secondary-color: rgb(240,240,240);
  --bg-color: #202020;
}
/* Цвет тела страницы */
body {
  background-color: var(--bg-color);
}
/* Выпрямление текста*/
.description {
text-align: justify;
}
/* Цвет на всей странице*/
* {
  color: var(--secondary-color);
}

.contact__type{
    color: #ddd;
  background-color: #444;
  box-shadow: 0 0px 18px rgb(133, 133, 133);
  border-radius: 4px;
  min-width: 183px;
  max-height: 20px;
  margin-right: 10px;
  margin-bottom: 3px;
  text-indent: 5px;
}

.orrlogo {
  background-color: black;
  border-radius: 100px;
  border: 2px solid #000000;
  box-shadow: 0 0px 18px rgb(133, 133, 133);
}

img {
  border-radius: 100px;
  border: 2px solid #024b0e;
  box-shadow: 0 0px 18px rgb(133, 133, 133);
}

/* Цвет и нижний оступ текста заголовка 1-го уровня */
h1 {
  color: #4b43bf;
  color: #418641;
  text-shadow: 0 0px 18px rgb(133, 133, 133);
  margin-bottom: 0.25em;
  font-size: 30px;
}
/* Цвет, размер шрифта, верхний  нижний оступ текста заголовка 2-го уровня */
h2 {
  color: #4b43bf;
  color: #418641;
  text-shadow: 0 0px 18px rgb(133, 133, 133);
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 1em;
}
/* Цвет текста заголовка 3-го уровня */
h3 {
  color: #4b43bf;
  color: #418641;
  text-shadow: 0 0px 18px rgb(133, 133, 133);
  font-size: 30px;
}
/* Цвет текста ссылок */
a {
  color: #2f80ed;
}
/* Нижний отступ и позиция текста*/
section {
  margin-bottom: 3em;
  position: relative;
}
/* Ширина и отступы текста*/
.cv {
  max-width: 900px;
  margin: 0 auto;
}

/* Нижний отступ текста*/
.contacts {
  margin-bottom: 2em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__type {
  min-width: 90px;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}

.experience__date {
  color: #ddd;
  background-color: #444;
  box-shadow: 0 0px 18px rgb(133, 133, 133);
  border-radius: 4px;
  min-width: 183px;
  max-height: 20px;
  margin-right: 40px;
  text-indent: 5px;
}

.experience__name {
  font-weight: bold;
}

@media (max-width: 575px) {
  .experience {
    display: block;
  }
}
/* Расположение кнопки темы на странице. Растояния от правого и верхнего края */
.theme-switch-wrapper {
  position: absolute;
  z-index: 99; 
  right: 40px;
  top: 8px;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
}
/* Растояние между кнопкой и надписью темы */
.theme-switch-wrapper .theme-switch__label {
  margin-left: 5px;
}
/* Размеры переключателя темы. Высота ширина. */
.theme-switch {
  display: inlin-block;
  height: 19px;
  position: relative;
  width: 33px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: rgb(200, 200, 200);
  color: var(--secondary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
/* размер и расположение переключателя кнопки темы */
.slider:before {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  content: "☼";
  height: 16.5px;
  width: 16.5px;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  position: absolute;
  -webkit-transition: .8s;
  transition: .8s;
}

input:checked + .slider {
  background-color: rgb(150, 150, 150);
}
/* Ход ползунка кнопки темы */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(15px); 
}
/* края округлитель кнопки темы */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html.transition,
html.transition * {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
